<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key ="pathtosvn" value="C:\\dev\\tools\\subversion\\bin\\"/>
    <add key="btnethookurl" value="http://subversion/bugtracker/svn_hook.aspx"/>
    <add key="btusername" value="admin"/>
    <add key="btpassword" value="admin"/>
    <add key="svnrepourl" value="https://subversion:444/svn/DECRI_updated"/>
    <add key="lastsvnrevision" value="565"/>
  </appSettings>
</configuration>
